<div class="intro_image">
    <div id="tagline_outline">
        <div id="tagline_background">
            <div id="tagline">A place to record your victories on the course (and over your friends) for all to see</div>
        </div>
    </div>
</div>

