<h1 class="container mt-5">Course Entry</h1>

<form action="/courses/course_check" method="post">
  <div class="form-group container mt-5">
    <label>Course</label>
    <input type="text" class="form-control" name="course">
  </div>
  <button type="submit" class="btn btn-success user">Check Course</button>
</form>